.graph-data {
    display: flex;
    /*justify-content: space-around;*/
    /*padding: 4%;*/
    width: 80%;
}

.graph-container {
    margin: 30px;
}

.graph-container .area {
    stroke: #615DEC;
    fill: #76E2F4;
}

.graph-container .point {
    fill: #301781;
    stroke: #301781;
}

.graph-container line,
.graph-container polygon,
.graph-container text {
    stroke: #301781;
    fill: #301781;
}

.graph-container text {
    font-size: 1em;
}

.graph-container .point[hit=true] {
    fill: #615DEC;
    stroke: #615DEC;
}

.graph-container .point[hit=false] {
    fill: red;
    stroke: red;
}
