<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>Dispatcher</servlet-name>
        <servlet-class>com.simeon.lab2.ControllerServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Dispatcher</servlet-name>
        <url-pattern>/controller/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AreaChecker</servlet-name>
        <servlet-class>com.simeon.lab2.controller.AreaCheckServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AreaChecker</servlet-name>
        <url-pattern>/local/check</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>LocalFilter</filter-name>
        <filter-class>com.simeon.lab2.filters.LocalFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LocalFilter</filter-name>
        <url-pattern>/local/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>400</error-code>
        <location>/400.jsp</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/500.jsp</location>
    </error-page>

</web-app>