<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>Dispatcher</servlet-name>
        <servlet-class>com.simeon.lab2.ControllerServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Dispatcher</servlet-name>
        <url-pattern>/controller/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AreaChecker</servlet-name>
        <servlet-class>com.simeon.lab2.controller.AreaCheckServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AreaChecker</servlet-name>
        <url-pattern>/local/check</url-pattern>
    </servlet-mapping>
</web-app>